.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #282c34;
}

nav {
  padding: 2rem 2rem;
}

input {
  width: 10rem;
  height: 1.5rem;
  margin-left: 20px;
}

.a {
  margin: 50px;
  color: bisque;
  text-decoration: none;
}

.a:hover {
  color: aliceblue;
}

.b , p {
  color: #282c34;
  text-decoration: none;
  display: block;
  margin-left: 5rem;
  line-height: 2rem;
}

.b:hover {
  color: #606368;
}

label {
  color: #282c34;
}

.main {
  background-color: beige;
  padding: 5rem ;
}