.container {
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.search_submit {
    border: 1px solid wheat;
    border-radius: 5px;
    background: wheat;
    color: red;
    height: 35px;
    width: 100px;
    margin-left: 50px;
}

#search_string {
    border: 1px solid wheat;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

img {
    margin: 3px;
  }

.inputfiled {
    padding: 20px;
}